* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  background: black;
  color: white;
  width: 100%;
}

button,
textarea,
input {
  font-size: inherit;
  color: inherit;
  border-radius: 5px;
  padding: 1em;
  border: 1px solid white;
  resize: none;
  background: transparent;
}

a {
  color: inherit  ;
}

button {
  display: block;
  padding: 1em 1.5em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.wrapper {
  max-width: 1300px;
  margin: 1em auto;
}

/* defaults for 100% width */
.wrapper nav,
.wrapper .cards-wrapper,
.wrapper footer {
  width: 100%;
}

.wrapper nav,
.wrapper .cards-wrapper,
.wrapper .cards-wrapper a,
.wrapper .footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.wrapper nav {
  padding: 0 1.5em;
}

.wrapper .cards-wrapper {
  justify-content: center;
  margin: 2em 0;
}

.wrapper .cards-wrapper a {
  border-radius: 5px;
  border: 1px solid white;
  margin: 1em;
  width: 150px;
  height: 150px;
  flex-direction: column;
  justify-content: center;
}

.wrapper .cards-wrapper a p {
  padding: .5em;
  word-wrap: break-word;
}

.wrapper .cards-wrapper a .title {
  font-weight: bold;
  text-transform: capitalize;
}


.wrapper footer {
  text-align: center;;
}